body {
    height: 100%;
    padding-top: 37px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar {
    list-style-type: none;
    background-color: rgb(54, 54, 54);
    margin: 0%;
    padding: 0%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1; 
    max-width: 100%;;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color:rgb(157, 9, 255);
}

#background {
    max-width: 100%;
}

#headshot {
    position: relative;
    text-align: center;
    color: white;
    font-size: 2vw;
}

#headshot h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
    padding: 0% 20%;
}

.left {
    text-align: left;
    margin: 0% 5%;
}

#about {

}

#about img {
    float: left;
    max-width: 20vw;
    padding-right: 5vw;
}