
/* For mobile devices */
@media only screen and (max-width: 640px) {
    .flex {
        display: block;
    }

    .flex img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #about img {
        width: 50vw;
        height: fit-content;
    }

    #education img {
        width: 15vw;
        height: auto;
        position: relative;
        float: right;
        bottom: 150px;
    }

    #skills img {
        max-width: 30vw;
        height: auto;
    }
}

/* For desktop or larger devices */
@media only screen and (min-width: 640px)
{
    .flex {
        display: flex;
    }
    
    .flex img {
        padding-left: 10%;
        height: auto;
    }

    #about img {
        max-width: 25vw;
        height: fit-content;
    }

    #education img {
        max-width: 80px;
        height: auto;
        position: relative;
        float: right;
        top: 60%;
    }

    #skills img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.section {
    border-bottom: 5px solid white;
    padding: 2%;
    display: inline-block;
    width: 100%;
}

#navbar {
    list-style-type: none;
    background-color: black;
    padding: 0%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1; 
    max-width: 100%;
    font-weight: bold;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color:rgb(157, 9, 255);
}

#headshot {
    text-align: center; 
    position: relative;
}

#headshot img {
    max-width: 100%;
}

#headshot h1 {
    position: absolute; 
    top:50%; left:50%; 
    transform:translate(-50%, -50%);
    font-size: 4vw;
}

#background {
    max-width: 100%;
}