body {
    height: 100%;
    padding-top: 37px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.section {
    padding: 2%;
    font-size: 1.5vw;
    border-bottom: 5px solid white;
}

.content {
    text-align: left;
    font-size: 20px;
}

#navbar {
    list-style-type: none;
    background-color: black;
    padding: 0%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1; 
    max-width: 100%;
    font-weight: bold;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color:rgb(157, 9, 255);
}

#background {
    max-width: 100%;
}

#headshot {
    position: relative;
    text-align: center;
    color: white;
    font-size: 2vw;
    padding: 0%;
}

#headshot h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    display: flex;
    flex-direction: row;
}

#about img {
    width: 30%;
    height: 30%;
    margin-left: 40px;
}

#skills img {
    width: 20%;
    float: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #education img {
      width: 100px;
      margin-left: 40px;
      margin-top: 100%;
  }

  #skills img {
    width: 175px;
    margin-left: 40px;
  }